.container {
  text-align: center;
  position: relative;
  top:20px;
}

.container h2 {
  margin-top: 30px;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--primary-color);
}

.container p {
  align-items: center;
  margin-bottom: 30px;
}

.container h5 {
  text-align: left;
}

.lowerRow {
  display: flex;
  justify-content: center;
}

.container img {
  height: 250px;
}

.lowerRow h4 {
  text-align: left;
  color: #575757 !important;
}

.lowerRow p {
  text-align: left;
}

.lowerRow button {
  margin-left: -250px;
  background-color: var(--primary-backgroundColor);
  color: var(--primary-color);
  font-size: var(--primary-paragraphSize);
  padding: 10px 20px;
}

.lowerRow span{
   position: relative;
   left: 200px;
}

