.banner div {
  position: relative;
  text-align: left;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.topLeft {
  position: absolute !important;
  top: 220px;
  left: 50px;
  width: 50%;
  color: aliceblue;
}

.topLeft h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.topLeft p {
  margin-bottom: 30px;
  font-size: 1.2rem;
}
