.footerMain{
    background-color: var(--secondary-backgroundColor);
    padding: 50px 50px;
    font-size: var(--primary-paragraphSize);
    display: flex;
    justify-content: space-evenly;
    

}

.icon{
    display: flex;
    justify-content: flex-end !important;
}