.container {
    text-align: center;
}

.container h2{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 2.5rem;
    font-weight: 700;
    color:   var(--primary-color);
}

.container p {
    align-items: center;
    margin-bottom: 60px;
}

.lowerRow{
    display: flex;
    justify-content: center;
}
.lowerRow img{
    height: 250px;
}

.lowerRow h4  {
    text-align: left;
    color:  #575757  !important;
}

.lowerRow p{
    text-align: left;
}

.lowerRow button {
    margin-left: -270px;
    margin-top: -40px;
    background-color: var(--primary-backgroundColor);
    color: var(--primary-color);
    font-size: var(--primary-paragraphSize);
    padding: 10px 20px;
}