.main {
    font-size: 1rem;
    font-weight: 600;
    border: 5px solid white;
    position: relative;
    bottom: 40px;
    margin-left: 25%;
    margin-right: 25%;
    background-color:white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
} 
.main a {
    padding: 10px;
}

.main span {
    border-left: 2px solid #e6363d;
    margin-left: 30px;
}
