.navMain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: var(--primary-backgroundColor);
  z-index: 10;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navMain img {
  position: relative;
  left: 300px;
}

.navMain h6 {
  position: relative;
  left: -300px;
}

.logo {
  position: relative;
  text-decoration: none;
  transition: 0.6s;
  font-size: var(--primary-paragraphSize);
}

.navMain ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  right: 300px;
  font-size: var(--primary-paragraphSize);
  font-weight: 600;
}

.navMain ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  transition: 0.6s;
}
