.main{
   margin-top: 70px;
    text-decoration-color: none;
}

.price{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.offers{
    display: flex;
    justify-content: space-between;
}

.offers span{
    color:  var(--primary-color);
    font-size: var(--primary-paragraphSize);
}

.offers h5{
    font-size: var(--primary-paragraphSize);
    margin-bottom: 5px;
}

.content button{
padding: 3px 60px;
margin-left: 10px;
}

.totalAmount h3{
    margin-bottom: 110px;
}

.empty{
margin: 100px 
}

.totalAmount button{
    margin-top: 10px;
}