html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

 :root {
  --primary-color: #e6363d;
  --primary-fontColor: #303030;
  --primary-paragraphSize: 1rem;
  --primary-backgroundColor: #ffffff;
  --primary-margin:35px;
  --primary-padding:5px 5px;
  --secondary-backgroundColor: #26272b ;
  --secondary-fontSize:0.5rem;
  
}

#button{
  font-size: 1rem;
  padding: 15px 40px;
  background-color: var(--primary-color);
  color: var(--primary-backgroundColor);
  margin-left: 5px ;
} 

.card{
  margin-right: 10px;
  font-size: var(--primary-paragraphSize);
  margin-bottom: 20px;
}
